# Python
__pychache__/
*.pyc
*.pyo

# Virtual Env
.venv/

# CMake / Build
build/
_skbuild
CMakeCache.txt
CMakeFiles/

# Native Binaries
*.so
*.dylib
*.pyd

# OS
.DS_Store

# Data (optional)
data/videos/nightout.mp4